<html>
    <head>
        <title>Cuisine</title>
    </head>
    <body>


        <h1> Welcome to all types of Cuisine</h1>
        <p> What kind of food are you craving?</p>

        <form action="/cuisines" method = "post">
            <label for="type"> Cuisine type: </label>
            <input id="type" name="type" type="text">

            <button type="Submit"> Add Cuisine</button>
        </form>

        {% if cuisine is not empty %}

        <p>Here all the cuisines</p>

        <ul>

                {% for food in cuisine %}
                <li><a href="/cuisine/{{ food.getId }}">{{ food.getType }}</li>

                {% endfor %}


        </ul>

        {% endif %}

        <form action="/delete_cuisines" method="post">
            <button type="submit">Delete Cuisines</button>
        </form>
    </body>
</html>
